@charset "utf-8";
.title1 {
    color: #AD6B55;
    font-size: xx-large;
    text-align: center;
    text-decoration: none;
}
.main1 {
    color: #669E3A;
    font-size: large;
    text-decoration: overline;
}
.main2 {
    color: #BD9F1F;
}
#caption img {
    -webkit-box-shadow: 15px 15px 8px #9FC8B8;
    box-shadow: 15px 15px 8px #9FC8B8;
}
