@charset "utf-8";
body {
    background-color: #f9f8f8ff;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
#container .imgbox{
	height: 216px;
	width: 384px;
	}
#container.box1{
	font-size:20px;
	color:ivory;
	background-image:url("background.jpg");
	background-size:"384px 216px";
	background-repeat:no-repeat;
	text-align:center;
		
}

#container lable{
	width:inherit;
	text-align:center;
	font-size:80px;
	color:white;
	position:absolute;
	style:"font-family: Amatic SC, sans-serif;"
}

